
.container{
    position:relative;
    justify-content: center;
    align-items:center;
    z-index: 0;
}

.img-container{
    padding-top:.5rem;
}
.picture{
    position:relative;
    height: 5rem;
    width: 5rem;
    background-color:aliceblue;
    z-index: 1;
}

.glass{
    position:absolute;
    left:105px;
    top: 0px;
    justify-content: center;
    z-index: 1;
    transform: rotate(-20deg);

    animation: 2s linear 0s slide 1 forwards;

   
}

@keyframes slide {
    from { top: -10px; }
    to {
      top:27px;
      
    }
  }